git+https://github.com/jr3cermak/sphinxcontrib-autodoc_doxygen.git@dev#egg=sphinxcontrib-autodoc_doxygen
git+https://github.com/jr3cermak/sphinx-fortran.git@dev#egg=sphinx-fortran
git+https://github.com/jr3cermak/flint.git@dev#egg=flint
sphinx-rtd-theme
sphinxcontrib-bibtex
setuptools
wheel
